.content-wrapper {
    margin-top: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.image-column,
.form-column {
    flex: 1;
    min-width: 200px;
    max-width: 30%;
}

.text-column {
    flex: 2;
    min-width: 300px;
    max-width: 40%;
}

.column img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.about-text {
    text-align: justify;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 20px;
    /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    /* Cor azul */
    border: none;
    color: white;
    border-radius: 20px;
    /* Bordas arredondadas */
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #0056b3;
    /* Azul mais escuro no hover */
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .image-column,
    .text-column,
    .form-column {
        max-width: 100%;
    }
}