@import './blog.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;

}

footer {
  display: flex;
  /* Usa Flexbox para organizar o conteúdo */
  flex-direction: column;
  /* Empilha os elementos verticalmente */
  background-color: #f0f0f0;
  /* Cor de fundo do footer */
  padding: 20px;
  /* Padding interno */
  width: 100%;
  /* Garante que o footer ocupe 100% da largura */
}

header {
  background-color: #003366;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sticky {
  position: fixed;
  top: 0;
  /* Fica fixo no topo */
  z-index: 1000;
  /* Garante que o header fique acima de outros elementos */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Sombra para dar profundidade */
}

img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block;
}

.top-bar {
  background-color: #004080;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.social-media-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-header h1 {
  margin: 0;
  font-size: 24px;
}

.right-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
}

.contact-email {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.btn-agende {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


nav {

  width: 100%;
  background-color: #0056b3;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-left: 1rem;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #0056b3;
}

.menu-toggle {
  display: none;
  background: #003366;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo img {
  margin-top: 15px;
  max-width: 120px;
  height: auto;
}

.content-wrapper {
  margin-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.content-wrapper img {
  width: 100%;
  display: block;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.image-column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-button {
  margin-top: 10px;
  /* Diminuído o margin-top para melhorar a ergonomia */
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-button:hover {
  background-color: #0056b3;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.service {
  text-align: center;
  flex-basis: 30%;
}

.service p {
  text-align: center;
  /* Centraliza o texto */
  padding: 10px;
  /* Padding para o texto */
}

.service img {

  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* Arredondar cantos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adicionar sombra */
  transition: transform 0.3s, box-shadow 0.3s;
  /* Adicionar transição */
}

.service img:hover {
  transform: scale(1.05);
  /* Aumentar ligeiramente o tamanho da imagem ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Aumentar a sombra ao passar o mouse */
}

.palestras {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.palestras h2 {
  text-align: center;
  color: #003366;
  margin-bottom: 30px;
}

.palestras-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.palestra-item {
  flex: 1;
  min-width: 300px;
  margin: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.palestra-item img {
  max-width: 100%;
  border-bottom: 2px solid #003366;
}

.palestra-item h3 {
  color: #003366;
  padding: 15px 0;
}

.palestra-item p {
  color: #666;
  padding: 0 15px 15px;
}

.consultoria {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2,
h3 {
  color: #0056b3;
  /* Azul */
}

/* Opcional: Estilo adicional para links "Leia Mais" */
.service a {
  color: #0056b3;
  /* Azul */
  text-decoration: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  /* Empilha os campos do formulário verticalmente */
  width: 100%;
  /* O formulário ocupa 100% da largura do container */
  max-width: 600px;
  /* Largura máxima do formulário */
}

.contact-form label {
  margin-top: 10px;
  /* Espaçamento entre os rótulos e os campos */
}

.contact-form2 {
  width: 100%;
  /* Largura total do contêiner */
  display: flex;
  /* Ativa o Flexbox */
  flex-direction: column;
  /* Organiza os itens em coluna */
  align-items: center;
  /* Centraliza os itens horizontalmente */
  justify-content: center;
  /* Centraliza os itens verticalmente */
  flex: 1;
  /* Permite que o contêiner cresça conforme necessário */
  margin: 10px auto;
  /* Margem automática para centralização horizontal */
  background: rgba(255, 255, 255, 0.9);
  /* Fundo branco com leve transparência */
  padding: 20px;
  /* Espaçamento interno */
  border-radius: 20px;
  /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra leve */
}


footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.about-us {
  display: flex;
  gap: 20px;
  align-items: center;
  /* Centraliza os elementos */
  padding: 20px;
  /* Padding geral */
  max-width: 1200px;
  /* Largura máxima para desktops */
  margin: 0 auto;
  /* Centraliza o container */
  width: 100%;
  justify-content: space-between;
}

.about-us img {
  max-width: 40%;
  height: auto;
}

.about-text {
  max-width: 55%;
  text-align: justify;

}

.about-text h2,
.about-text h3 {
  color: #0056b3;
}

.top-bar {
  background-color: #004080;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-icons img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact-email {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.btn-agende {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #003366;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding-top: 150px;
}

.main-content {
  display: flex;
  gap: 20px;
  align-items: center;
  /* Centraliza os elementos */
  padding: 20px;
  /* Padding geral */
  max-width: 1200px;
  /* Largura máxima para desktops */
  margin: 0 auto;
  /* Centraliza o container */
  width: 100%;
}

.container {

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.container-content {
  padding-top: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f0f0f0;
  min-height: 80vh;
  /* Altura mínima para a seção */
  flex-direction: column;
}

.containe-content .image-container {
  flex: 1;
  /* Permite que a imagem ocupe uma parte do espaço disponível */
  max-width: 400px;
  /* Define uma largura máxima para a imagem */
}

.container-content .image-container img {
  width: 400px;
  /* A imagem ocupará 100% da largura do seu container */
  height: auto;
  /* Mantém a proporção da imagem */
}

.container-content .text {
  font-size: 1rem;
  max-width: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
  flex: 2;
  /* Permite que o conteúdo ocupe mais espaço em relação à imagem */
  padding: 20px;
  /* Adiciona padding ao conteúdo */
}

.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: justify;
}

.text p,
.text ul {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.text ul {
  padding-left: 20px;
}

.btn-learn-more {
  display: block;
  margin: 20px auto 0;
  background-color: #007BFF;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.centralized-title {
  margin-top: 30px;
  grid-column: 1 / -1;
  align-self: center;
  /* Faz o título ocupar todas as colunas */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  margin-bottom: 20px;
  /* Espaçamento inferior para separar do restante da grid */
}

/* Estilo base para a caixa de mensagem */
.message {
  padding: 15px;
  /* Espaçamento interno */
  border-radius: 5px;
  /* Bordas arredondadas */
  margin-top: 10px;
  /* Margem superior */
  display: none;
  /* Inicialmente escondido */
}

/* Estilo para mensagens de erro */
.error {
  background-color: #f8d7da;
  /* Fundo vermelho claro */
  color: #721c24;
  /* Cor do texto vermelho escuro */
  border: 1px solid #f5c6cb;
  /* Borda vermelha */
}

/* Estilo para mensagens de sucesso */
.success {
  background-color: #d4edda;
  /* Fundo verde claro */
  color: #155724;
  /* Cor do texto verde escuro */
  border: 1px solid #c3e6cb;
  /* Borda verde */
}

.contact-container {
  max-width: 1200px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  /* Centraliza os itens verticalmente */
  align-items: center;
  /* Centraliza os itens horizontalmente */
  padding: 80px 0;
  /* Ajusta o padding vertical para manter o espaçamento */
  gap: 80px;
  margin: 0 auto;
}

.success-message {
  display: none;
  color: green;
  margin-top: 10px;
}

.text-column {
  display: flex;
  /* Ativa o Flexbox */
  flex-direction: column;
  /* Organiza os itens em coluna */
  align-items: center;
  /* Centraliza os itens horizontalmente */
  justify-content: center;
  /* Centraliza os itens verticalmente */
  width: 100%;
  /* Define a largura como 100% */
  padding: 10px;
  /* Adiciona um pouco de espaçamento interno */
  box-sizing: border-box;
  /* Inclui padding e border no tamanho total */
}

@media (max-width: 768px) {
  .logo img {
    max-width: 100px;
    /* Tamanho do logo em dispositivos móveis */
  }

  nav img {
    width: 20px;
    /* Largura dos ícones em dispositivos móveis */
    height: 20px;
    /* Altura dos ícones em dispositivos móveis */
  }

  nav {
    font-size: 14px;
    padding: 8px 15px;
  }

  nav ul li {
    margin: 0 8px;
  }

  nav a {
    padding: 8px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .text-column {
    flex-direction: column;
  }

  .nav-menu.active {
    display: flex;
  }

  nav ul li {
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #444;
  }

  .menu-toggle {
    display: block;
  }

  main p {
    font-size: 1rem;
  }

  header {
    height: 15%;
  }

  .top-bar {
    gap: 10px !important;
  }

  .right-header {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .btn-agende {
    padding: 8px 15px;

  }


  .social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .centralized-title {
    margin-top: 30px;
    font-size: 1.5em;
  }

  .main-content {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .content-wrapper {
    margin-top: 20px;
    font-size: 1rem;

  }

  .palestras {
    flex-direction: column;
    gap: 20px;
  }

  .palestras-item img {
    max-width: 100%;
    height: 60vh;
    object-fit: cover;
    margin: 0 auto;
  }

  .palestra-item p {
    font-size: 1rem;
  }

  .palestra-item h2 {
    font-size: 1rem;
  }

  .services {
    flex-direction: column;
    gap: 20px;
  }

  .services img {
    height: 60vh;
    object-fit: cover;
    margin: 0 auto;
  }

  .service {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
  }

  .contact-form label,
  .contact-form input,
  .contact-form textarea {
    font-size: 16px;
    /* Tamanho da fonte dos rótulos e campos do formulário */
  }

  .about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .contact-container {
    padding: 40px 0;
    /* Centraliza horizontalmente */
    margin: 0 auto;
  }

  .contact-form2 {
    width: 90%;
    /* Largura de 90% em telas menores */
    padding: 15px;
    /* Ajusta o padding */
    margin: 0 auto;
  }

  .container {
    flex-direction: column;
    /* Empilha a imagem e o conteúdo verticalmente em telas menores */
    align-items: center;
    /* Centraliza os itens */
    padding: 60px 40px;
    min-height: auto;
  }

  .image-container img {
    max-width: 100%;
  }

  .text p {
    text-align: center;
  }

  .text-column {
    width: 100%;
    flex-direction: column;
  }

  footer {
    padding: 20px 0;
    /* Ajuste o padding conforme necessário */
    font-size: 14px;
    /* Ajuste o tamanho da fonte conforme necessário */
    flex-direction: column;
    /* Empilha os elementos verticalmente em telas menores */
    align-items: center;
    /* Centraliza os elementos */
  }

}

@media (max-width: 680px) {
  .contact-container {
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
  }

  .top-bar {
    gap: 10px !important;
  }

  header {
    height: 15%;
  }

  .contact-form2 {
    width: 95%;
    /* Largura de 95% em telas ainda menores */
    padding: 10px;
    /* Ajusta o padding */
    margin: 0 auto;
  }

  .text-column {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  header {
    height: 15%;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  .top-bar {
    gap: 10px !important;
  }

  nav ul li {
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #444;
  }

  .menu-toggle {
    display: block;
  }

  main p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  .content-wrapper {
    font-size: 0.8rem;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
  }

  .contact-form2 {
    width: 100%;
    /* Largura total em telas muito pequenas */
    padding: 10px;
    /* Ajusta o padding */
    margin: 0 auto;
  }

  .text-column {
    flex-direction: column;
  }
}