@import './blog.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;

}

header {
  background-color: #003366;
  color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.social-media-icons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.left-header h1 {
  margin: 0;
  font-size: 24px;
}

.right-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
}

.contact-email {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.btn-agende {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


nav {
 
  width: 100%;
  background-color: #0056b3;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-left: 1rem;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #003366;
}

.menu-toggle {
  display: none;
  background: #003366;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}


main {
  padding-top: 150px;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.service {
  text-align: center;
  flex-basis: 30%;
}


.service img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* Arredondar cantos */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adicionar sombra */
  transition: transform 0.3s, box-shadow 0.3s;
  /* Adicionar transição */
}

.service img:hover {
  transform: scale(1.05);
  /* Aumentar ligeiramente o tamanho da imagem ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Aumentar a sombra ao passar o mouse */
}



h2,
h3 {
  color: #0056b3;
  /* Azul */
}

/* Opcional: Estilo adicional para links "Leia Mais" */
.service a {
  color: #0056b3;
  /* Azul */
  text-decoration: none;
}

.contact-form {
  flex-basis: 30%;
  margin-left: 20px;
}


footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us img {
  max-width: 40%;
  height: auto;
}

.about-text {
  max-width: 55%;
  text-align: justify;

}

.about-text h2,
.about-text h3 {
  color: #0056b3;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: #004080;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-icons img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.contact-email {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.btn-agende {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav {
  background-color: #003366;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  margin-top: 80px; /* Adicione este espaçamento */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
}

.container .image-container {
  max-width: 50%;
  margin-right: 20px;
  text-align: center;
}

.container .image-container img {
  width: 100%;
  height: auto;
}

.container .text {
  font-size: 1rem;
  max-width: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: justify;
}

.text p, .text ul {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.text ul {
  padding-left: 20px;
}

.btn-learn-more {
  display: block;
  margin: 20px auto 0;
  background-color: #007BFF;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.centralized-title {
  margin-top: 30px;
  grid-column: 1 / -1;
  align-self: center;
  /* Faz o título ocupar todas as colunas */
  text-align: center;
  /* Centraliza o texto horizontalmente */
  margin-bottom: 20px;
  /* Espaçamento inferior para separar do restante da grid */
}

/* Estilo base para a caixa de mensagem */
.message {
  padding: 15px;
  /* Espaçamento interno */
  border-radius: 5px;
  /* Bordas arredondadas */
  margin-top: 10px;
  /* Margem superior */
  display: none;
  /* Inicialmente escondido */
}

/* Estilo para mensagens de erro */
.error {
  background-color: #f8d7da;
  /* Fundo vermelho claro */
  color: #721c24;
  /* Cor do texto vermelho escuro */
  border: 1px solid #f5c6cb;
  /* Borda vermelha */
}

/* Estilo para mensagens de sucesso */
.success {
  background-color: #d4edda;
  /* Fundo verde claro */
  color: #155724;
  /* Cor do texto verde escuro */
  border: 1px solid #c3e6cb;
  /* Borda verde */
}

@media (max-width: 768px) {

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  nav ul li {
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #444;
  }

  .menu-toggle {
    display: block;
  }

  main p {
    font-size: 1rem;
  }

  header {
    height: 25%;
  }

  .right-header {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .btn-agende {
    padding: 8px 15px;

  }


  .social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .centralized-title {
    margin-top: 30px;
    font-size: 1.5em;
  }

  .content-wrapper {
    margin-top: 20px;
    font-size: 1rem;

  }

  .services {
    flex-direction: column;
    gap: 20px;
  }

  .services img {
    height: 60vh;
    object-fit: cover;
    margin: 0 auto;
  }

  .service {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
  }

  .about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .contact-container {
    max-width: 1200px;
    /* Largura máxima para desktop */
    margin: 20px auto;
    /* Centraliza horizontalmente */
  }

  .contact-form2 {
    width: 60%;
    /* Ocupa 60% da largura do container */
  }

}

@media (max-width: 480px) {
 
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  nav ul li {
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #444;
  }

  .menu-toggle {
    display: block;
  }
  main p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  .content-wrapper {
    font-size: 0.8rem;
  }
}